/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. icosn]
*/

.navbar-nav-painel li {margin-right: 60px !important;}
.glyphicon-globe,  .glyphicon-envelope, .glyphicon-eye-open {font-size: 30px !important;}

.glyphicon-pencil  {font-size: 17px !important;}


.navbar-nav-painel li:nth-child() {margin-left: 30px !important;}
.navbar-nav-painel li:nth-child() {margin-left: 30px !important;}

.title { position: absolute; margin-top:10px !important; margin-left: 10px;}













