$corPerigo: firebrick;
$corPadrao: darkcyan;

.botao {

    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
    font-size: 0.9em;
}

.botao-perigo {
    background: $cor;
    color: white;
}

.botao-padrao {
    background: $corPadrao;
    color: white;
}				