
<!DOCTYPE html>

<html lang="pt-br">
<head >
    
    <meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
	
    <link rel="stylesheet" href="./../assets/framework/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="./../text/css" href="assets/framework/jquery-ui-1.12.1.custom/jquery-ui.min.css" />

    <link rel="stylesheet" href="./../assets/css/@font-face.css" />
	<link rel="stylesheet" href="./../assets/css/@responsive.css" />
	<link rel="stylesheet" href="./../assets/css/index.css" />

	<style>
		
	</style>
</head>
<body>
    <div class="container" id="corpo_site">
		<div class="row">
	        <div class=" col-xs-12 col-md-12"  id="tela_">
	        	<h2 class="demoHeaders">VueJS</h2>
	        	<div class="tabbable tabs-left"> 
		            <!-- Nav tabs -->
		            <ul class="nav nav-tabs" role="tablist">
		                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Início</a></li>
		                <li role="presentation"><a href="#v-bind" aria-controls="v-bind" role="tab" data-toggle="tab">v-bind</a></li>
		                <li role="presentation"><a href="#v-if" aria-controls="v-if" role="tab" data-toggle="tab">v-if, v-else</a></li>
		                <li role="presentation"><a href="#v-for" aria-controls="v-for" role="tab" data-toggle="tab">v-for</a></li>
		                <li role="presentation"><a href="#v-on" aria-controls="v-for" role="tab" data-toggle="tab">v-on </a></li>
		                <li role="presentation"><a href="#v-model" aria-controls="v-for" role="tab" data-toggle="tab">v-model</a></li>
		                <li role="presentation"><a href="#v-comp" aria-controls="v-for" role="tab" data-toggle="tab">componentes</a></li>
		                <li role="presentation"><a href="#event" aria-controls="v-for" role="tab" data-toggle="tab">v-on, v-show</a></li>
		                <li role="presentation"><a href="#inputs" aria-controls="v-for" role="tab" data-toggle="tab">inputs</a></li>
		                <li role="presentation"><a href="#todolist" aria-controls="v-for" role="tab" data-toggle="tab">todo list</a></li>
		                
		            </ul>

		            <!-- Tab panes -->
		            <div class="tab-content">
			            <div role="tabpanel" class="tab-pane active" id="home">
							<div id="app"> 
									{{message}}
							</div>
			            </div>
			            <div role="tabpanel" class="tab-pane" id="v-bind">
			            	<div id="app-2">
								<span v-bind:title="message">
									Pare o mouse sobre mim e veja a dica interligada dinamicamente!
								</span>

								<img 
									:src="img.src"
									:alt="img.atl" title=""  id="" 
									:data-img-large="img.data-img-large"
								/>

							</div>

			            </div>
			            <div role="tabpanel" class="tab-pane" id="v-if">
			            	<div id="app-3">

			            		<!-- v-if -->
								<p v-if="seen">Agora você me viu</p>
								<p v-if="falso">Agora nõo me ver</p>
								<p v-if="!verdadeiro">Negando</p>
								</br></br>

								<!-- v-else-if -->
								<div v-if="type === 'A'">
								  A
								</div>
								<div v-else-if="type === 'B'">
								  B
								</div>
								<div v-else-if="type === 'C'">
								  C
								</div>
								<div v-else>
								  Not A/B/C
								</div>

							</div>
			            </div>
			            <div role="tabpanel" class="tab-pane" id="v-for">
			            	<div id="app-4">
							  	<ol>
							    	<li v-for="(todo, index) in todos">
								      	{{ todo.index }} - {{ todo.text }}
								    </li>
							  	</ol>
							</div>
			            </div>
			            <div role="tabpanel" class="tab-pane" id="v-on">
						  	<div id="app-5">
							  	<p>{{ message }}</p>
							  	<button v-on:click="reverseMessage">Inverter Mensagem</button>
							  	<button @:click="reverseMessage">Inverter Mensagem</button>
							</div>
			            </div>
			            <div role="tabpanel" class="tab-pane" id="v-model">
			            	<div id="app-6">
								<p>{{ message }}</p>
								<input class="input-text" type="text" v-model="message">
							</div>
			            </div>
			            <div role="tabpanel" class="tab-pane" id="v-comp">
				            <div id="app-7">
								<ol>
								<!--
								  Agora provemos cada todo-item com o objeto todo que ele
								  representa, de forma que seu conteúdo possa ser dinâmico.
								  Também precisamos prover cada componente com uma "chave",
								  a qual será explicada posteriormente.
								-->
									<todo-item
										v-for="item in groceryList"
										v-bind:todo="item"
										v-bind:key="item.id">
									</todo-item>
								</ol>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="event">
				            <div id="app-8">

								<ul v-show='true'>
									<li v-for='fruit in fruits'>{{fruit.name}} </li>
								</ul>

								<ul v-if='true'>
									<li v-for='fruit in fruits'>{{fruit.name}} </li>
								</ul>

								<input class='cl-inputs' type="text" name="" v-on:keyup.enter='say("Hello! Enter")'>
								</br></br>
								<!-- Alt + C -->
								<input class='cl-inputs' type="text" name="" value="alt+c" v-on:keyup.alt.67='say("Hello! @keyup.alt.67")'>

								</br></br>
								<input class='cl-inputs' type="text" name="" @keyup.enter="say('Hello! Enter com @keyup')">
								
								</br></br>
								<button @click="say('Hello! @click')">
									adicionar fruta
								</button>

							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="inputs">
				            <div id="app-9">

								<!-- Text -->
								<input class="cl-inputs" v-model="message" placeholder="edit me">
								<p>Message is: {{ message }}</p>
								</br></br>

								<!-- Multiline text -->
								<span>Multiline message is:</span>
								<p style="white-space: pre-line;">{{ message }}</p>
								<br>
								<textarea class="cl-inputs" v-model="message" cols="50" placeholder="add multiple lines"></textarea>
								</br></br>

								<div id='example-3'>
									<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
									<label for="jack">Jack</label>
									<input type="checkbox" id="john" value="John" v-model="checkedNames">
									<label for="john">John</label>
									<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
									<label for="mike">Mike</label>
									<br>
									<span>Checked names: {{ checkedNames | json}}</span>
									<br>
									<input type="button" @click="getNames()" value="clique aqui" >
								</div>
								</br></br>


								<!-- #Radio -->
								<input type="radio" id="one" value="One" v-model="picked">
								<label for="one">One</label>
								<br>
								<input type="radio" id="two" value="Two" v-model="picked">
								<label for="two">Two</label>
								<br>
								<span>Picked: {{ picked }}</span>
								</br></br>


								<!-- Multiple select (bound to Array): -->
								<div class="form-group">
									<label for="sel1">Select list:</label>
									</br>
									<select style="border:1px solid #ccc; padding:5px;" v-model="selectMultiple" multiple>
										<option>A</option>
										<option>B</option>
										<option>C</option>
										<option>D</option>
										<option>E</option>
										<option>F</option>
									</select>
									
								</div>
								<span>Selected: {{ selectMultiple }}</span>
								</br></br>


								<!-- Dynamic options rendered with v-for: -->
								<select v-model="selected">
									<option v-for="option in options" v-bind:value="option.value">
										{{ option.text }}
									</option>
								</select>
								<span>Selected: {{ selected }}</span>

							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="todolist">
				            <div id="app-10">

								<input class='cl-inputs form-control' v-model='inputTask'  type="text" name="" placeholder='Add a task'>
								<input class='cl-inputs btn btn-success' type="button" name="" value="Adicionar"  v-on:click='addTask()'>

								</br></br>
								<table>
									<thead>
										<tr><th>task name</th></tr>
									</thead>
									<tbody>
										<tr v-for='task in tasks'>
											<td>{{task.name}}</td>
											<td><button v-on:click=removeTask(task.id)>x </button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="classbinding">
				            <div id="app-11">
							</div>
						</div>
		            </div>
		        </div>
		    </div>
        </div > <!-- col-md-6 -->

       

    </div> <!-- corpo do site -->
</body>
 <!-- Javascript -->
    <script type="text/javascript" src="./../assets/js/jquery-3.0.0.min.js"> </script>
    <script type="text/javascript" src="./../assets/framework/bootstrap-3.3.7/js/bootstrap.min.js">  </script> 
    <script type="text/javascript" src="./../assets/framework/jquery-ui-1.12.1.custom/jquery-ui.min.js">  </script> 
    <!-- production version, optimized for size and speed -->
	<script type="text/javascript" src="./../assets/plugin/vue.js"></script>
    <script type="text/javascript">
		

		// https://br.vuejs.org/v2/guide/index.html
	    
	    /* 1- inicio  [Renderização Declarativa] */
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue!'
			}
		});

		/* 2- v-bind  [Renderização Declarativa] */
		var app2 = new Vue({
			el: '#app-2',
			data: {
				message: 'Você carregou esta página em ' + new Date().toLocaleString(),

				img: {
					src:  			'./../assets/img/vue.png',
					data_img_large: './../assets/img/vue.png',
					alt: 			'meu vuejs'
				}
			}
		})

		//app2.message = 'alguma nova mensagem';


		/* 3- v-if [Condicionais e Laços]  */
		var app3 = new Vue({
			el: '#app-3',
			data: {
				seen: true,
				falso: false,
				verdadeiro: false,
				type:  ''
			}
		})
	    //app3.falso = true;

	    /* 4- v-for [Condicionais e Laços]  */
	    var app4 = new Vue({
	    	el:'#app-4',
	    	data: {
	    		todos:[
	    			{text: 'Aprender JavaScript'},
	    			{text: 'Aprender Vue'},
	    			{text: 'Criar algo incrível'}
	    		]
	    	}
	    });
	    app4.todos.push({ text: 'Novo item' });


	    /* 5- v-on [Tratando Interação do Usuário]*/
	    var app5 = new Vue({
			el: '#app-5',
			data: {
				message: 'Olá Vue!'
			},
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('')
				}
			}
		});

		/* 6- v-model [Tratando Interação do Usuário]*/
	    var app6 = new Vue({
			el: '#app-6',
			data: {
				message: 'Olá Vue! V-Model'
			}
		});

		/* 7- Composição com Componentes */
		Vue.component('todo-item', {
		  	props: ['todo'],
		  	template: '<li>{{ todo.text }}</li>'
		})
	    var app7 = new Vue({
			el: '#app-7',
			data: {
				groceryList: [
					{ id: 0, text: 'Vegetais' },
					{ id: 1, text: 'Queijo' },
					{ id: 2, text: 'Qualquer outra coisa que humanos podem comer' }
				]
			}
			
		});

		/* 8- Events  */
		var app8 = new Vue({
			el: '#app-8',
			data: {
				fruits: [
					{name: 'apple'}, {name: 'banana'}, {name: 'orange'}, {name: 'manga'}
				]
			},
			methods: {
				say: function (msg) { console.log(msg) }
			}
		});

		/* 9- inputs  */
		var app9 = new Vue({
			el: '#app-9',
			data: {
				message: 'Digite qualquer coisa.',
				checkedNames: [],
				picked: [],
				selectMultiple: 'A',
				selected: 'A',
			    options: [
					{ text: 'One', value: 'A' },
					{ text: 'Two', value: 'B' },
					{ text: 'Three', value: 'C' }
			    ]
			},


			methods: {
				getNames: function () { 
					console.log(this.checkedNames);
					console.log(typeof(this.checkedNames));
				}
			}
		});

		/* 10- todo list  */
		var app10 = new Vue({
			el: '#app-10',
			data: {
			    tasks: [
					{ id:1, name: 'Leia Vue' },
					{ id:2, name: 'Leia Npm' },
					{ id:3, name: 'Leia Sass'}
			    ],
			    inputTask: ''
			},
			methods: {
				addTask() { 
					if (this.inputTask.trim() != '') {
						this.tasks.push( {id: this.tasks.length+1 ,name: this.inputTask} );
						this.inputTask = '';

					}
				},
				removeTask(id) {
					for(var i=this.tasks.length; i--;) {
						console.log(this.tasks[i].name);
						if(this.tasks[i].id == id) {
							this.tasks.splice(i, 1);
						}
					}
				}
			}
		});

	    //console.log(app4);

    </script>
</html>
